* {
	all: unset;
	font-family: "Monocraft";
}

.island {
	padding: 0 8px;
}

.hud {}

.v-separator {
	min-width: 2px;
	border-radius: 2px;
	background-color: rgba(255,255,255,1)
}

.time {
	font-size: 1.4rem;
}
