@import "./widgets/datetime/datetime";
@import "./widgets/language/language";

* {
  all: unset;
}

.glass-container {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
