* {
	all: unset;
	font-family: "Monocraft";
}

.island {
	padding: 0 8px;
}

.v-separator {
	min-width: 2px;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
}

.time {
	font-size: 1.2rem;
}

.date {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);

	.day {
		font-family: "Anurati";
		font-size: 12rem;
		color: #d8dee9;
	}
	.subdate {
		font-family: "Anurati";
		font-size: 3.5rem;
		letter-spacing: 4px;
		color: #d8dee9;
	}
}
