spawn-at-startup "awww-daemon"
spawn-at-startup "awww img /home/jager/.config/wallpapers/flowers.png"
spawn-at-startup "syncthing"
spawn-at-startup "obsidian"
spawn-at-startup "ewww open datetime"
spawn-at-startup "ewww open language"
