spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "awww img /home/jager/.config/wallpapers/flowers.png"
spawn-sh-at-startup "syncthing"
spawn-sh-at-startup "obsidian"
spawn-sh-at-startup "emacs --daemon"
spawn-sh-at-startup "clipse -listen"

spawn-sh-at-startup "eww daemon"

spawn-sh-at-startup "eww open bar_m0"
spawn-sh-at-startup "eww open bar_m1"
spawn-sh-at-startup "eww open bar_m2"
