spawn-at-startup "awww-daemon"
spawn-at-startup "awww img /home/jager/.config/wallpapers/flowers.png"
spawn-at-startup "syncthing"
spawn-at-startup "obsidian"
spawn-at-startup "emacs --daemon"
spawn-at-startup "eww open datetime"
spawn-at-startup "eww open language"
