spawn-sh-at-startup	"awww-daemon -n wallpaper"
spawn-sh-at-startup	"awww img -n wallpaper /home/jager/.config/wallpapers/flowers.png"

spawn-sh-at-startup	"syncthing"
spawn-sh-at-startup	"emacs --daemon"
spawn-at-startup	"obsidian"

spawn-sh-at-startup	"~/.config/niri/scripts/eww.sh --daemon"
spawn-sh-at-startup	"~/.config/niri/scripts/wallpaper.sh"

binds {
	// ============ Niri Actions ============
	Mod+Q			{ close-window; }
	Mod+O			{ toggle-overview; }
	Mod+R			{ switch-preset-column-width; }
	Mod+F			{ maximize-column; }
	Mod+C			{ center-column; }
	// Mod+V			{ switch-focus-between-floating-and-tiling; }
	Mod+V			{ toggle-window-floating; }
	Mod+Tab			{ fullscreen-window; }

	Mod+BracketLeft		{ consume-or-expel-window-left; }
	Mod+BracketRight	{ consume-or-expel-window-right; }

	Print			{ screenshot; }
	Mod+Print		{ screenshot-screen; }
	Alt+Print		{ screenshot-window; }

	Mod+Shift+E		{ quit; }

	// ============ Apps ============
	Mod+D		{ spawn "fuzzel"; }
	Mod+T		{ spawn "wezterm"; }
	Mod+Backspace	{ spawn "emacsclient" "-c" "-a" ""; }

	Mod+Shift+Q	{ spawn "firefox-developer-edition"; }
	Mod+Shift+M	{ spawn-sh "QT_QPA_PLATFORM=xcb vkworkspace"; }

	Shift+Alt+L	{ spawn "veila" "lock"; }

	// ============ Movement ============
	Mod+Left		{ focus-column-or-monitor-left; }
	Mod+Right		{ focus-column-or-monitor-right; }
	Mod+Down		{ focus-window-or-workspace-down; }
	Mod+Up			{ focus-window-or-workspace-up; }

	Mod+Shift+Left		{ focus-monitor-left; }
	Mod+Shift+Right		{ focus-monitor-right; }

	Mod+Ctrl+Left		{ move-column-left-or-to-monitor-left; }
	Mod+Ctrl+Right		{ move-column-right-or-to-monitor-right; }
	Mod+Ctrl+Down		{ move-window-to-workspace-down; }
	Mod+Ctrl+Up		{ move-window-to-workspace-up; }

	Mod+Ctrl+Shift+Right	{ move-column-to-monitor-right; }
	Mod+Ctrl+Shift+Left	{ move-column-to-monitor-left; }

	Mod+WheelScrollLeft		cooldown-ms=150	{ focus-column-or-monitor-left; }
	Mod+WheelScrollRight		cooldown-ms=150	{ focus-column-or-monitor-right; }
	Mod+WheelScrollDown		cooldown-ms=150	{ focus-window-or-workspace-down; }
	Mod+WheelScrollUp		cooldown-ms=150	{ focus-window-or-workspace-up; }

	Mod+Shift+WheelScrollLeft	cooldown-ms=150 { focus-monitor-left; }
	Mod+Shift+WheelScrollRight	cooldown-ms=150 { focus-monitor-right; }

	Mod+Ctrl+WheelScrollLeft	cooldown-ms=150	{ move-column-left-or-to-monitor-left; }
	Mod+Ctrl+WheelScrollRight	cooldown-ms=150	{ move-column-right-or-to-monitor-right; }
	Mod+Ctrl+WheelScrollDown	cooldown-ms=150	{ move-window-to-workspace-down; }
	Mod+Ctrl+WheelScrollUp		cooldown-ms=150	{ move-window-to-workspace-up; }

	Mod+Ctrl+Shift+WheelScrollLeft	cooldown-ms=150	{ move-column-to-monitor-left; }
	Mod+Ctrl+Shift+WheelScrollRight	cooldown-ms=150	{ move-column-to-monitor-right; }
}

layout {
	gaps 10
	background-color "transparent"

	default-column-width { proportion 0.5; }
	preset-column-widths {
		proportion 0.33333
		proportion 0.5
		proportion 0.66667
		proportion 1.0
	}

	focus-ring {
		width 3
		active-gradient from="#00ff87" to="#60efff" angle=45
		inactive-color "#0d1b15"
	}

	struts {
		top 30
	}
}

window-rule {
	geometry-corner-radius		8
	clip-to-geometry		true
	draw-border-with-background	false

	background-effect {
		xray true
		blur true
	}
}

window-rule {
	match is-floating=true
	baba-is-float true
}

layer-rule {
	match namespace="gtk-layer-shell"
	geometry-corner-radius 6

	background-effect {
		xray false
		blur true
	}
}

blur {
	passes	3
	offset	1.0
	noise	0.05
}

cursor {
	xcursor-theme		"nier"
	xcursor-size		24
	hide-when-typing
	hide-after-inactive-ms	3000
}

input {
	keyboard {
		xkb {
			layout "en-birman, ru-birman"
			options "grp:caps_toggle, compose:ralt, ctrl:nocaps, lv3:ralt_switch"
		}

		repeat-delay	250
		repeat-rate	35
		track-layout	"window"
	}

	mouse {
		accel-speed	0.2
		accel-profile	"flat"
	}
}

overview {
	zoom 0.3
}

output "Samsung Display Corp. 0x41B7 Unknown" {
	mode		"2048x1280@120.001"
	scale		1.0
	position	x=5120 y=0
}

output "Samsung Electric Company Odyssey G65B H1AK500000" {
	mode		"2560x1440@119.998"
	scale		1.0
	position	x=0 y=0
}

output "HDMI-A-1" {
	mode		"2560x1440@119.998"
	scale		1.0
	position	x=2560 y=0
}
