output "Huawei Technologies Co., Inc. ZQE-CAA 0xC080F622" {
	mode "3440x1440@164.999"
	position x=0 y=0
	focus-at-startup
	variable-refresh-rate on-demand=true
}

output "Samsung Electric Company C24F390 HLENA00162" {
	mode "1920x1080@71.910"
	position x=3440 y=0
}
